body{
    font-family: "ubuntu";
}


#title{
    background-color: #ff4c68;
    color: #fff;
  
   
    
}
.container-fluid{
    padding: 5% 15%;
}

h1 { 
     font-family:"ubuntu"; 
      font-size: 3rem; 
       line-height: 1.5;  
      font-weight: 1000;
    }
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link{
    font-family: "ubuntu"; 
    font-size: 1.5rem;
}
.down-buttn{
    margin: 5% 5% 5% 0;
}
 
/* title image */
.title-img{
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
   
}
#features{
    padding: 7% 15%;
    background-color: #fff;
   position: relative;
   z-index: 1;
   
}
.features-box{
    text-align: center;
    padding: 5%;
}
#features h3{
    font-weight: bold;
}
#features p{
    color: #8f8f8f;
}
#features i{
   font-size: 40px;
   padding: 10px;
   color: #e68291;
}
#features i:hover{
    color: #ff4c68;
 }

  /* Testimonials  */
  #testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color:#fff;
  }
  
  #testimonials h2{
    font-family:"ubuntu"; 
    font-size: 3rem; 
         
      font-weight: 1000;
  } 
  #testimonials h2{
    font-family:"ubuntu"; 
    font-size: 3rem; 
        
      font-weight: 1000;
  } 
  .image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }

  /* press section */
  #press{
    background-color: #ff4c68;
    text-align: center;
  padding-bottom: 3%;
    
  }
  .press-img{
   width: 15%;
   margin: 20px 20px 50px;
   
  }

#pricing{
    padding: 80spx;
}
.pricing-card{
    padding: 3% 2%;
}

/* testimonials-section */
#cta{
    background-color: #ff4c68;
    font-family: "ubuntu"; 
    font-weight: 1000;
    font-size: 1.5rem;
   text-align: center;
   padding: 7% 20%;
}
#cta btn{
    margin: 5% 5% 5% 0;
}
#footer{
    padding: 7% 20%;
    text-align: center;
}